* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(to right, #00ff55, #004ccf, #ff00d4);
    color: #000000;
    border-bottom: 2px solid #ff006e;
}

/* Left, centre, right sections */
.modules-left, .modules-right, .modules-center {
    padding: 0 8px;
}

/* Individual module pills */
#custom-theme-toggle,
#custom-updates,
#workspaces,
#clock,
#idle_inhibitor,
#backlight,
#battery,
#custom-power-profile,
#cpu,
#pulseaudio,
#network,
#bluetooth,
#custom-powermenu,
#tray {
    color: #000000;
    padding: 2px 12px;
    margin: 4px 3px;
    border-radius: 8px;
    border: 2px solid #000000;
    font-weight: bold
}

#custom-theme-toggle {
    background-color: #bb00ff;
}

#custom-updates {
	background-color: #00f5d4;
}

#custom-updates.outdated {
	background-color: #ff8800;
}

#custom-updates.updated {
	background-color: #00f5d4;
}

/* Workspaces */
#workspaces button {
    color: #000000;
    padding: 0 6px;
    border-radius: 6px;
}

#workspaces button.active {
    color: #ff006e;
    border-bottom: 2px solid #ff006e;
}

#workspaces button:hover {
    color: #0f00ff;
}

/* Clock */
#clock {
	border: 2px solid #11ab87;
	background: radial-gradient(circle, #19ffc9, #ffeb00);
}

/* Idle inhibitor */
#idle_inhibitor.activated {
	background-color: #ff006e;
}

#idle_inhibitor.deactivated {
    color: #555555;
    border-color: #555555;
}

/* Backlight */
#backlight {
	background-color: #ffbe0b;
}

/* Battery */
#battery {
    background-color: #00f5d4;
}

#battery.warning {
    background-color: #ff8800;
}

#battery.critical {
    background-color: #ff0000;
}

#custom-power-profile {
	background-color: #ff8800;
}

/* CPU */
#cpu {
	background-color: #ff006e;
}

/* Volume */
#pulseaudio {
	background-color: #bf5af2;
}

#pulseaudio.muted {
    background-color: #555555;
}

/* Network */
#network {
	background-color: #00f5d4;
}

#network.disconnected {
    background-color: #ff0000;
}

/* Bluetooth */
#bluetooth {
	background-color: #bf5af2;
}

#tray {
	background-color: #00ffd7;
}

#custom-powermenu {
	background-color: #ff006e;
}
